.a{
	 margin: 70px 100px;	  
    width: 1000px;
	height:250px;
    border: 3px solid green;
    padding: 10px;
	float:left;
        font-size: 18px;
}
.b{
	 margin: 0px 10px 10px 7px;
    width: 250px;
	height:230px;
    border: 3px solid green;
    
	float: left;	
} 

input{
    color:red;
}

body{
    width:20%;
    height:100%;
}



